<div class="order-cart card col-2 border-right header-data-item">
    <div class="card-body">
        <div class="align-items-center ">
            <div>
                <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">
                    Nombre d'enfants pris en charge&nbsp;
                </h6>
                <h2 class="text-dark mt-4 fw-bold count text-end" style="color: #33b7b0!important;">{{ beneficiary.data|length }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="order-cart card col-2 border-right header-data-item">
    <div class="card-body">
        <div class="align-items-center">
            <div>
                <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">
                    Nombre d'employés&nbsp;
                </h6>
                <h2 class="text-dark mt-4 fw-bold count text-end" style="color: #33b7b0!important;">{{ employees.data|length }}</h2>

            </div>
        </div>
    </div>
</div>
<div class="order-cart card col-2 border-right header-data-item">
    <div class="card-body">
        <div class="align-items-center ">
            <div>
                <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">
                    Nombre d'enfants .....&nbsp;
                </h6>
                <h2 class="text-dark mt-4 fw-bold count text-end" style="color: #33b7b0!important;">589</h2>
            </div>
        </div>
    </div>
</div>