.custom-input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.custom-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.custom-btn:hover {
    background: #B83C26;
}

.custom-link{
    text-decoration: none;
    color: #333;
}