
.btn-eds{
    background: #daeaf1!important;
    border: 1px solid  #daeaf1;
    color: #5e5c64;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn-eds:hover{
    background: #acdef6 !important;
    border: 1px solid  #daeaf1;
}
